.item img{
    height: 80px;
    width: 85px;
}
.text p{
    margin: 0;
}
.item:hover{
    color: blue;
    cursor: pointer;
}
.card{
    padding: 20px;
    margin: 30px 40px;
}
.card img{
    width: 200px;
    height: 200px;
    margin-left: 25px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.like a{
    margin-left: 50px;
}